<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head")  %>
  <body>
    <%- include("partials/nav")  %>

    <div class="container">
      <h1>Welcome to the <em><%= name %></em> subreddit!</h1>
      <h2><em><%= description %></em></h2>
      <h4><%= subscribers %> total subscribers</h4>
      <hr>
      <% for( let post of posts ) { %>
        <article>
          <h3><%= post.title %></h3>
          <h5>By: <%= post.author %></h5>
          <% if (post.img) { %>
            <img src=<%= post.img %> alt="">
          <% } %>
        </article>
      <% } %>
    </div>
  </body>
  <%- include("partials/footer")  %>
</html>
