<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head")  %>
  <body class="d-flex flex-column min-vh-100">
    <%- include("../partials/nav")  %>
    <div class="container">
        <h1><%= farm.name %></h1>
        <ul class="list-group">
            <li class="list-group-item">City: <%= farm.city %></li>
            <li class="list-group-item">Email: <%= farm.email %></li>
        </ul>
        

        <form action="/farms/<%= farm._id %>?_method=DELETE" method="POST" class="form-inline">
          <a class="btn btn-primary" href="/farms/<%= farm._id %>/edit" role="button">Edit</a>
          <button type="submit" class="btn btn-outline-danger cancelBtn"><b>x</b></button>
        </form>
    </div>
    <%- include("../partials/footer")  %>
  </body>
  
</html>
