<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head")  %>
  <body class="d-flex flex-column min-vh-100">
    <%- include("../partials/nav")  %>

    <div class="container">

        <h1>Add a new Product to <%= farm.name %> </h1>
  
        <form action="/farms/<%= farm._id %>/products/new" method="POST">
          <div class="form-group">
            <label for="name">Product name:</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Product name">
          </div>
          <div class="form-group">
            <label for="comment">Price:</label>
            <input type="number" class="form-control" name="price" id="price" placeholder="0.00">
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category" name="category">
              <% for( let category of categories ) { %>
                <option value="<%= category %>"><%= category %></option>
              <% } %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  
    </div>

    <%- include("../partials/footer")  %>
  </body>
  
</html>